<!DOCTYPE html>
<html>
	<head>
		<title>Artisti</title>
		<link rel="stylesheet" href="/css/stileGenerale.css" />
	</head>
	<body>
		<header>
			<div th:if="${#request.userPrincipal}">
				<span th:text="${#request.userPrincipal.principal.username}"></span>
				<a href="/logout">Logout</a>
			</div>
			<div th:unless="${#request.userPrincipal}">
				<a href="/login">Login</a>
			</div>
		</header>
		<div>
			<a href="/"><img src="/images/logo-siw.png" width="50%"/></a>
		</div>
		<h1>Gestione artisti</h1>
		<div th:if="${artists.isEmpty() || artists==Null}">Non ci sono artisti nel sistema</div>
		<ul>
			<li th:each="artist : ${artists}">
					<strong th:href="@{'/artists' + '/' + ${artist.id}}"
						th:text="${artist.name} +' '+ ${artist.surname}">nome e cognome</strong>
						<a th:href="@{'/admin/formUpdateArtist'+'/'+${artist.id}}"> modifica dati attore</a>
			</li>
		</ul>	
		<footer></footer>
	</body>
</html>