<!DOCTYPE html>
<html>
	<head>
		<title>
			Film
		</title>
		<link rel="stylesheet" th:href="@{bootstrap.min.css}" />
		<script src="@{bootstrap.min.js}"></script>

	</head>
	<body>
	<nav  class="navbar" style="background-color: rgb(174, 174, 255);">
	  <div class="container">
	    <a class="navbar-brand" href="#">
	      <img src="/images/logo-siw.png" alt="siw-movie" width="150" >
	    </a>
	  </div>
	</nav>
	<h1>Artisti</h1>
	<div th:if="${artists.isEmpty() || artists==Null}">Non ci sono artisti nel sistema</div>
	<ul>
		<div class="list-group" th:each="artist : ${artists}">
			<a class="list-group-item list-group-item-action" th:href="@{'/artists' + '/' + ${artist.id}}"
				th:text="${artist.name} +' '+ ${artist.surname}">nome e cognome
			</a>
			
		</div>
	</ul>	
	
	
	</body>
</html>