<!DOCTYPE html>
<html>
	<head>
		<title>
			Film non trovato
		</title>
		<link rel="stylesheet" href="/css/mioStile2.css" />
	</head>
	
<body>
	<div class="flexbox-container-vertical">
        
        <div class="header">
			<img src="/images/logo-siw.png" width="70%"/>
			<div class="text" th:if="${#request.userPrincipal}">
				<span th:text="${#request.userPrincipal.principal.username}"></span>
				<a href="/logout">Logout</a>
			</div>
			<div class="text" th:unless="${#request.userPrincipal}">
				<a href="/login">Login</a>
			</div>
		</div>
	
		<div class="section">
			<div class="flexbox-container-horizontal-sa">
				<div class="flex-item-small">
					<h1>Errore: film non trovato</h1>
					<a href="/"><img src="/images/home.png" width="20%"/></a>
				</div>
			</div>
        </div>
        <div class="footer"></div>
	</div>
</body>
</html>